# Root files and data files #
#############################
*.root
*.dat 

# C++ object files #
####################
*.o
*.so

# Executables #
###############
vikar
vikarFront
angleConvert
Kinematics
Kindist
