# Root files and data files #
#############################
*.root
*.dat
*.out 
RootDict.cpp
RootDict.h

# C++ object files #
####################
*.o
*.so

# Executables #
###############
vikar
vikarFront
angleConvert
kinematics
kindist
dump
test
energy
integrator
range
XYpos
phoswich
